<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>PROJECT MANAGEMENT SYSTEM </title>
    <style>
     @media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}
.navbar .navbar-nav .nav-link {
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  background-color:black;
}
    </style>
</head>

<body>
    <div class="container">
            <nav class="navbar navbar-expand-sm navbar-dark bg-success" >
                    <div class="container-fluid">
                      <a class="navbar-brand" href="{% url 'index' %}">PROJECT MANAGEMENT SYSTEM </a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="navbar-nav me-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'Emp_form' %}">Assign Project</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'Emp_show' %}">Show Project Info</a>
                          </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'showProject' %}">About </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                          </li>
                
                        </ul>
                        <form class="d-flex" method="post" action="{% url 'Emp_show' %}">
                            {% csrf_token%}

                          <input class="form-control me-2" type="text" placeholder="Search Employee" Employees Name='text'>
                          <button class="btn btn-primary" type="Submit">Search</button>
                        </form>
                      </div>
                    </div>
                  </nav>

            {% block content %}
            {% endblock %}
    </div>
</body>
</html>